body{
    margin: 0;
	padding: 0;
	border: 0;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.bodyContainer{
    width: 1024px;
    margin: 0px auto;
    background-color: #07072F;
    color:#FFFFFF;
}
.header{
    width: 1024px;
    margin: 0px auto;
    color:#FFFFFF;
    height: 180px;
    position: relative;
    opacity: 0.99;

}
.headerBackground{
    width: 100%;
    height: 100%;
    background-color: #07072F; 
}
.headerMask {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.99;
  }
  
  .headerMask::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/drumset-4865818_960_720.jpg);
    opacity: 00.3;
    z-index: -1;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.headerTitle{
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 120px;
    font-weight: bolder;
    width: calc(100% - 150px);
    border-bottom:2px #FFFFFF solid;
    padding-left: 150px;
}

.headerText{
    float: left;
    position: absolute;
    top: 150px;
    left: 10px;
    font-size: 23px;
}
.headerAffils{
    float: left;
    position: absolute;
    top: 70px;
    left: 780px;
    font-size: 10px;
}
.headerLogo{
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
}
.headerLogo > img{
    position: absolute;
    top: 10px;
    left:10px;
    width: 120px;
    height: 120px;
}

.logosSection{
    width: 100%;
    height: 130px;
    position: relative;
    opacity: 0.99;
}

.logo1{
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.logosBig{
    float: left;
    border-radius: 50%;
    width: 100px;
    height: 100px; 
    background-color: #FFFFFF;
    margin: 8px 8px 8px 8px;
    padding: 5px 5px 5px 5px;
}
.logosBig:hover{
    transition: transform 0.3s;
    transform: scale(1.4);
}
.logosBig > .logoContainer {
    width: 100%;
    height: 100%; 
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.logosBig > .logoContainer >img{
    width: calc(100% - 20px) ;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.qrcode{
    width: 100px;
    height: 100px;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 14px 14px 14px 14px;
}
.qrcode> img{
    width: 100%;
    height: 100%;
}
.content{
    width: 1024px;
    height: 1320px;
    margin: 0px 0px 0px 0px;
    position: relative;
    background-color: #FFFFFF;
    background: url(../images/sheet_background.png);
}
.contentMiddle{
    position: absolute;
    width: 100%;
    height: 310px;
    background-color: rgba(5, 119, 190,1);
    /*background-color: rgba(29, 29, 116, 0.8);*/
    top:   400px;
}
.contentMiddle2{
    position: absolute;
    width: 100%;
    height: 210px;
    background-color: rgba(5, 119, 190,1);
    top:   700px;
}
.contentBottom{
    position: absolute;
    width: 100%;
    height: 410px;
    background-color:rgba(244,133,0,1);/* rgb(7, 7, 47, 1);*/
    top:   910px;
}

.centerDrum{
    position: relative;
    top: 300px;
    left: 300px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 2px #000000 solid;
    -moz-box-shadow:    2px 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px 2px #ccc;
    box-shadow:         2px 2px 2px 2px #ccc;
}

.centerDrum > .centerContainer {
    width: 100%;
    height: 100%; 
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.centerDrum > .centerContainer > img{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;

}
.redBG{
    background-color: rgba(241,39,17,0.5);
    transition: all 0.3s ease-in;
}
.blueBG{
    background-color: rgba(17,39,241,0.5);
    transition: all 0.3s ease-in;
}
.orangeBG{
    background-color: rgba(244,133,0,0.5);
    transition: all 0.3s ease-in;
}
.whiteBG{
    background-color: rgba(255,255,255,0.3);
    transition: all 0.3s ease-in;
}


.box{
    outline-offset: -10px;
    outline: 0px solid #fff;
    text-shadow: 2px 2px #000000;
    transform: scale(1);
    transition: transform 0.3s ease-out;
    border-radius: inherit;
}
.box:hover{
    outline: 3px solid #fff;
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.boxMask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    /*opacity: .7;*/
    z-index: 3;
    border-radius: inherit;

    /*-webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;*/

}
.boxMask:hover{
    background-color: rgba(100,100,100,0.4);
    /*opacity: 0.3;*/
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.boxText{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    z-index: 3;
    opacity: 1 !important;
}
.contextSection{
    position: absolute;
    border-radius: 5%;
    top: 30px;
    left: 30px;
    color: #FFFFFF;
    width: 300px;
    height: 350px;
    background: url(../images/Dave_King_\(drummer\)-4.jpg);
    background-size: cover;
}
.problemSection{
    position: absolute;
    border-radius: 5%;
    top: 30px;
    left: 365px;
    color: #FFFFFF;
    text-shadow: 2px 2px rgb(53, 37, 37) !important;
    background: linear-gradient(90deg, #f12711 0%, #f5af19 100%);
    width: 300px;
    height: 250px;
    background: url(../images/question.jpg);
    background-size: cover;
    font-size: 30px;
}
.solutionSection{
    position: absolute;
    border-radius: 5%;
    top: 35px;
    left: 700px;
    color: #FFFFFF;
    background: url(../images/pic01-2.jpg);
    background-size: cover;
    width: 300px;
    height: 350px;
}
.budgetSection{
    position: absolute;
    top: 450px;
    left: 800px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #FF0000;
}
.objetivesSection{
    position: absolute;
    top: 450px;
    left: 30px;
    width: 255px;
    height: 200px;
    border-radius: 5%;
    background-color: #00FF00;
}
.timelineSection{
    position: absolute;
    top: 710px;
    left: 20px;
    color: #FFFFFF;
    width: 960px;
    height: 200px;
}
.methodologySection{
    position: absolute;
    top: 910px;
    left: 20px;
    color: #FFFFFF;
    width: 960px;
    height: 200px;

}
.definitionsSection{
    position: absolute;
    top: 1130px;
    left: 20px;
    background: linear-gradient(90deg, #00B4DB 0%, #0083B0 100%);
    color: #FFFFFF;
    width: 290px;
    height: 150px;
    background: url(../images/http2.jpg);
    background-size: cover;
    border-radius: 5%;
}
.playerSection{
    position: absolute;
    top: 1130px;
    left: 350px;
    background: linear-gradient(90deg, #00B4DB 0%, #0083B0 100%);
    color: #FFFFFF;
    width: 290px;
    height: 150px;
    background: url(../images/player.jpg);
    background-size: cover;
    border-radius: 5%;
}
.multipadSection{
    position: absolute;
    top: 1130px;
    left: 680px;
    background: linear-gradient(90deg, #00B4DB 0%, #0083B0 100%);
    color: #FFFFFF;
    width: 290px;
    height: 150px;
    background: url(../images/multipad.jpg);
    background-size: cover;
    border-radius: 5%;
}
